/**
* @name Grün for BetterDiscord
* @version Auto Update
* @description Made by Shad0w_57, green gloomy theme for your BetterDiscord client - Based on the Neutron theme
* @author Shad0w_57
* @Source https://github.com/Shad0w-57/Grun-BetterDiscord/
*/

/* Grün website doesn't exist yet */

@import url("https://us-east-1.tixte.net/uploads/shad0w-57.is-from.space/uncleft_style.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://codedotspectra.github.io/themes/core/custom-font.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
:root {
--themeColor1: #966c6c;
--themeColor2: #7f708a;
--customFont: 'Roboto';
--homeImage: url('https://raw.githubusercontent.com/Shad0w57/Uncleft/master/assets/uncleft_icon.png');
--homeImageSize: cover;
--backgroundColor: #2e222f;
--backgroundImage: url('https://raw.githubusercontent.com/Shad0w57/Uncleft/master/assets/discord_custom_background_blur.png');
--backgroundPosition: center;
--backgroundSize: cover;
--backgroundRepeat: no-repeat;
--backgroundBlur: 0px;
--backgroundOpacity: 0.64;
--rs-small-spacing: 2px;
--rs-medium-spacing: 3px;
--rs-large-spacing: 4px;
--rs-small-width: 2px;
--rs-medium-width: 3px;
--rs-large-width: 4px;
--rs-avatar-shape: 24%;
--rs-online-color: #1ebc73;
--rs-idle-color: #f79617;
--rs-dnd-color: #e83b3b;
--rs-offline-color: #9babb2;
--rs-streaming-color: #831c5d;
--rs-invisible-color: #625565;
--rs-phone-visible: block;
}
